.container {
    /* background: rgb(240, 237, 237); */
    width: 313px;
    height: 570px;
    padding: 15px;
    margin-top: 30px;
}

.image {
    width: 313px;
}

.img {
    height: 400px;
    background-size: contain;

}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    margin-bottom: 5px;
    height: 25px;
    margin-bottom: 5px;
}

.price {
    padding: 0 0 10px;
    line-height: 0.7em;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* PRICE_NUMBER */
    color: #2d2d2d;
    font-family: futura-pt-n7, futura-pt, "Futura PT", "Futura Book", Tahoma,
        Geneva, Verdana, Arial, sans-serif;
    font-weight: 700;
    font-size: 0.85em;
    padding-right: 0.3em;
    margin-top: 20px;
}

.normal_price {
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-right: 5px;
    color: #666;
}

.old_price {
    text-decoration-line: line-through;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-right: 5px;
}

.new_price {
    color: #d01340;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-right: 10px;
}
.form{
    border-bottom: gray solid 1px;
    border-top: gray solid 1px;
    padding: 6px;
    font-family: math;
    font-size: 14px;
}

.form_select{
    width: 100%;
    height: 30px;
    border: none;
    /* border-top: #666 solid 1px; */
}
.button{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: green;
    border: none;
    color: white;
    font-weight: 700;
}
.button:hover{
    background: greenyellow;
}
