.Carousel {
    position: relative;
    display: flex;

}
.row {
    background-color: bisque;
    width: 75%;
    height: 20%;
    padding-top: 50px;
    display: flex;
    margin-bottom: 100px;
    margin: 0 auto;
  }
.col1{
    width: 80px;
    margin-top: 100px;
    margin-left: 120px;
  }
.col1 img{
    padding-right: 33px;
    width: 100px;
    height: 90px;
  }
  
 /* CSS ẢNH */
.img {
    height: 500px;
    /* display: none; */
    margin-left: 70px;
    width: 555px;
}

.left {
    right: 1%;
    font-size: 20px;
    margin-right: 40px;
}

.right {
    left: 1%;
    font-size: 20px;
   margin-left: 428px;
}

.nut button {
    border: none;
    display: inline-block;
    padding: 10px;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
    color: #fff;
    background: #000;
    position: relative;
    top: calc(50% - 25px);
    opacity: 0.5;
}


/* CSS Nội Dung */
.tong{
    margin-left: 50px;
}
.noidung p{
    font-size: 18px;
    font-weight: normal;
    letter-spacing: .6px;
    line-height: 24px;
    color: #2d2d2d;
}
.noidung span{
    margin-top: 12px;
    font-size: 20px;
    font-weight: 900    ;
    letter-spacing: .4px;
    line-height: 22px;
    color: #2d2d2d;
    color: #666;
}

/* CSS Mau */
.mau{
    margin-bottom: 50px;

}
.mau h2 {
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 16px;
    color: #2d2d2d;
}
.mau p {
    margin-left: 6px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: .4px;
    line-height: 22px;
    color: #2d2d2d;
}

.forms{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    font-family: "futura-pt-n4","futura-pt",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 245px;
    height: 30px;
    margin-bottom: 70px;
    font-size: 15px;
    margin-top: 15px;

}
.select label{
    display: table-cell;
    font-weight: 700;
    font-family: math;
    letter-spacing: 5px;

    
}
/* CSS NÚt Mua và Tym */
.tym{
    color: #d01345;
    font-size: 13px;
    letter-spacing: 0.8px;
    line-height: 16px;
    padding: 0px 4px;
    width: 325px;
    display: flex;
}
.mua{
    font-family: "futura-pt-n7","futura-pt",Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    width: 100%;
    float: left;
    background-color: #018849;
    display: table;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    height: 50px;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
}
.mua:hover{
    background-color: #03552f
}
.btn_like {
    width: 36px;
    height: 36px;
    /* margin-top: 340px; */
    background-color: rgb(221 215 215 / 50%);;
    border-radius: 50%;
    border: none;
    margin-left: 50px;
    margin-top: 5px;
}
.heart {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    color: #0f0f0f;
}

