.bot_btn{
    width: auto;
    color: white;
    border: none;
    padding: 0 10px;
    letter-spacing: 1px;
    background-color: #525050;
    line-height: 50px;
}
.bot_btn:hover{
    background-color: white;
    color: black;
}

.background {
    font-size: .85rem;
    background-color: rgb(172, 4, 4);
    font-weight: 700;
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);

}
.background:hover{
    color: black;
    background: white;  
}

.bot_textbtn{
    letter-spacing: .8px;
    font-size: 13px;
}